/* CSS */
/* title text */
h1 {
    font-family: 'VALORANT', sans-serif;
}

/* regular text */
h2,h3,h4,h5,h6 {
    font-family: 'TungstenBold', sans-serif;
}

/* added in custom font */
@font-face {
    font-family: 'TungstenBold';
    src: url('Tungsten-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* navbar colour */
.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    align-items: center;
    background-color: #FF5052;
}

/* main background colour */
body {
    background-color: #0c1824;
}

/* to remove the blue colour text and underline from href */
a {
  text-decoration: none;
  color: #0c1824;
}

/* The logo in the top left of the navbar */
.Logo {
    width: 60px;
    height: 60px;
    margin: 15px;
}

/* four column for the roles in the navbar */
.four-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
    margin: auto;
    align-items: center;
    text-align: center;
}

/* five column for the agent cards in the home page */
.five-column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px; 
    padding: 20px;
    margin: auto;
    margin-top: 60px;
    align-items: center;
    text-align: center;
}

/* box for the full image, size of the box, on the left side of the page */
.full-image {
    width: 450px;
    height: 900px;
    object-position: left;
}

/* image should crop and fill the box completely */
.full-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}