h1 {
    /* for title */
    font-family: 'VALORANT', sans-serif;
}

h2,h3,h4,h5,h6 {
    /* for regular text */
    font-family: 'TungstenBold', sans-serif;
}

@font-face {
    font-family: 'TungstenBold';
    src: url('Tungsten-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0c1824;
}
