/* CSS */
/* title text */
h1 {
    font-family: 'VALORANT', sans-serif;
}

/* regular text */
h2,h3,h4,h5,h6 {
    font-family: 'TungstenBold', sans-serif;
}

/* added in custom font */
@font-face {
    font-family: 'TungstenBold';
    src: url('Tungsten-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* navbar colour */
.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    align-items: center;
    background-color: #FF5052;
}

/* navbar hover */
.four-column a:hover {
    background-color: #ff1252;
}

/* main background colour */
body {
    background-color: #0c1824;
}

/* to remove the blue colour text and underline from href */
a {
  text-decoration: none;
  color: #0c1824;
}

/* The logo in the top left of the navbar */
.Logo {
    width: 60px;
    height: 60px;
    margin: 15px;
}

/* four column for the roles in the navbar */
.four-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
    margin: auto;
    align-items: center;
    text-align: center;
}

/* five column for the agent cards in the home page */
.five-column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px; 
    padding: 20px;
    margin: auto;
    margin-top: 60px;
    align-items: center;
    text-align: center;
}

/* agent id cards and name */
.agent-profile {
    color: #FFFCF9;
}

/* box for the full image, size of the box, on the left side of the page */
.full-image {
    width: 450px;
    height: 900px;
    flex-shrink: 0;
    object-position: left;
    color: #FFFCF9;
    text-align: center;
    font-size: x-large;
}

/* image should crop and fill the box completely */
.full-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

/* agent information */
.agent-info {
    color: #FFFCF9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

/* agent info image */
.agent-info img {
    width: 225px;
    height: 150px;
}

/* ability information */
.ability-info {
    color: #FFFCF9;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    padding-top: 10px;
}

/* ability info image */
.ability-info img {
    width: 100px;
    height: 100px;
}

/* agent page */
.agent-page {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 5px;
    padding-top: 30px;
}

/* agent details */
.agent-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    padding-top: 20px;
}

/* border for text */
.section-border {
    border-style: inset;
    border-color: #FF5052;
    gap: 10px;
}

/* bottom info that's indented in */
.indented-info {
    gap: 10px;
}