{% extends "layout.html" %}
{% block body %}
<!-- Full image of the agent -->
<div class="agent-page">
   <div class="full-image">
      <h1>{{ character[1] }}</h1>
      <img src="{{url_for('static', filename=character[27]) }}" alt="{{ character[1] }}">
   </div>
   <!-- main info of agent -->
   <div class="agent-details">
      <div class="agent-info">
         <h2>{{ character[1] }}'s Official Description</h2>
         <h3>{{ character[28] }}</h3>

         <h2>{{ character[1] }}'s Best Map</h2>
         <h3>{{ character[4] }}</h3>
         <img src="{{url_for('static', filename=character[5])  }}" alt="{{ character[4] }}">

         <h2>{{ character[1] }}'s Worst Map</h2>
         <h3>{{ character[6] }}</h3>
         <img src="{{url_for('static', filename=character[7])  }}" alt="{{ character[6] }}">
      </div>

      <!-- Agent Abilities -->
      <div class="ability-info">
         <!-- Signature ability one -->
         <img src="{{url_for('static', filename=character[21]) }}" alt="{{ character[8] }}">
         <h2>{{ character[8] }}: {{ character[9] }}</h2>

         <!-- ability one -->
         <img src="{{url_for('static', filename=character[24]) }}" alt="{{ character[12] }}">
         <h2>{{ character[14] }}: {{ character[15] }}</h2>

         <!-- ability two -->
         <img src="{{url_for('static', filename=character[23]) }}" alt="{{ character[14] }}">
         <h2>{{ character[12] }}: {{ character[13] }}</h2>

         <!-- Ultimate -->
         <img src="{{url_for('static', filename=character[26]) }}" alt="{{ character[18] }}">
         <h2>{{ character[18] }}: {{ character[19] }}</h2>
      </div>
   </div>
</div>
{% endblock %}