{% extends "layout.html" %}
{% block body %}
<!-- Home page starts from here -->
 <!-- Will be 5 column layout to direct users to each agent -->
    <div class="five-column">
        {% for controller in controller %}
        <a href="{{ url_for('agent', id=controller[0]) }}">
            <div> 
                <!-- Shows ID card image and if it doesn't show should show agent name -->
                <img src="{{url_for('static', filename=controller[3]) }}" alt="{{ controller[1] }}">
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}