<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/valorant">
    <title>ValAgents</title>
    <link rel="icon" href="../Images for 12DTP\Logo\nobglogo(16x16).png" type="image/png" sizes="16x16">
    <link rel="icon" href="../Images for 12DTP\Logo\nobglogo(32x33).png" type="image/png" sizes="32x32">
    <link rel="icon" href="../Images for 12DTP\Logo\nobglogo(48x49).png" type="image/png" sizes="48x48">
</head>

<body>
    <section>
        <!-- website icon and title -->
        <div class="flex-container">
            <div style="order: 0;">
                <img src="../Images for 12DTP/Logo/Valorantlogonowatermark.jpg" alt="Valorant Logo" class="Logo">
            </div>
            <div style="order: 1;"> 
                <h1 class="title">
                    ValAgents
                </h1>
            </div>
            <div stlye="order: 2;">
                <section class="four-column">
                    <h2>
                        Duelist
                    </h2>
                    <h2>
                        Initiator
                    </h2>
                    <h2>
                        Sentinel
                    </h2>
                    <h2>
                        Controller
                    </h2>
                </section>
            </div>
        </div>
    </section>
    {% block body %}
    {% endblock %}
</body> 
</html>