<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/valorant">
    <!-- Title -->
    <title>ValAgents</title>
    <!-- site icon -->
    <link rel="icon" src="{{url_for('static', filename='images/Logo/nobglogo(16x16).png') }}" type="image/png" sizes="16x16">
    <link rel="icon" src="{{url_for('static', filename='images/Logo/nobglogo(32x32).png') }}" type="image/png" sizes="32x32">
    <link rel="icon" src="{{url_for('static', filename='images/Logo/nobglogo(48x48).png') }}" type="image/png" sizes="48x48">
</head>

<body>
    <section>
        <!-- website icon and title -->
        <div class="flex-container">
            <div style="order: 1;">
                <a href="/">
                    <img src="{{url_for('static', filename='images/Logo/vallogo.jpg') }}" alt="Valorant Logo" class="Logo">
                </a>
            </div>
            <div style="order: 2;">
                <a href="/">
                    <h1 class="title">
                        ValAgents
                    </h1>
                </a>
            </div>
            <div style="order: 3;">
                <section class="four-column">
                <a href="duelist.html"> 
                    <h2>
                        Duelist
                    </h2>
                </a>
                <a href="initiator.html">
                    <h2>
                        Initiator
                    </h2>
                </a>
                <a href="sentinel.html">
                    <h2>
                        Sentinel
                    </h2>
                </a>
                <a href="controller.html">
                    <h2>
                        Controller
                    </h2>
                </a>
                </section>
            </div>
        </div>
    </section>
    {% block body %}
    {% endblock %}
</body> 
</html>